// Set background image for Ionic
.scroll-content {
  background: url('images/symphony.png') repeat;
}

.bar.bar-stable {
  background-color: $tertiary-color;
  background-image: none;
  .title {
    color: white;
  }
  .button.button-clear {
    color: white;
  }
}