.noti-container {
    position: relative;
    width: 20%;
    @include respond-min(mid) {
        width: 150px;
    }
}

.noti-bubble {
    background-color: $secondary-color;
    border-radius: 30px;
    color: white;
    height: 15px;
    font-size: 0.85em;
    font-weight: bold;
    line-height: 13px;
    padding: 1px 2px 1px 2px;
    position: absolute;
    right: calc(100%/2 - 25px);
    text-align: center;
    top: 3px;
    width: 20px; 
    @include respond-min(mid) {
        right: calc(150px/2 - 25px);
    }
}

// Fixes for Android tabs
.nav-view-transition-android {
  .tabs-top.tabs-striped .tab-item.active {
    padding-top: 0px;
    .icon {
        padding-top: 2px;
    }
  }

  .tabs-top.tabs-striped .tab-item {
    font-size: 10px;
    line-height: 14px;
    padding-top: 0px;
    text-align: center;
    vertical-align: text-bottom;
    .icon {
        padding-top: 2px;
    }
  }
}